.form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.input {
  border: none ;
  border-bottom: 1px solid;
  padding: 10px;
  width: auto;
}

.button {
  background-color: #2f80f0;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;

  &:hover {
    background-color: #006eff;
  }
}
