
.container {
  display: flex;
  flex-direction: column;
}

.containerImg {
  display: flex;
  width: 1239px;
  height: 1225px;
  top: -60px;
  left: -69px;
  margin: 10px;

}

.img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 811px;
  height: 1225px;
  left: 1200px;
  position: absolute;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.containerImgIc {
  display: flex;
  left: 1400px;
  top: 100px;
  position: absolute;
}
.imgIc {
  width: 100%;
  height: 100%;
}