.todo{
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 1000px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  gap: 20px;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.editForm {
  gap: 10px;
}

.input {
  border: none ;
  border-bottom: 1px solid;
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}







