.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.segmented {
  text-align: right;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #3487ff;
  color: white;
  margin-top:  10px;


  &.active {
    background: #0060c2;
    color: #ffffff;
    border: none;
  }}
