.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button {
  text-align: right;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #00959f;
  color: white;
  margin-top:  10px;

  &:hover {
    background-color: #00b6bc;
  }
  &.active {
    background: #007bff;
    color: white;
    border-color: #007bff;
  }

}