.app-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: rgba(224, 224, 224, 0.42);
    justify-content: center;
    align-items: center;
    margin: 40px;
    border-radius: 10px;
    padding: 40px;

}
.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.btn {
    background-color: #2f80f0;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.btn:hover {
    background-color: #006eff;
}
.inp {
    border: none ;
    border-bottom: 1px solid;
    padding: 10px;
    width: 300px;
}

.todos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.todo {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 1000px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    gap: 20px;
    align-items: center;

}

.item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.item-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.btn-edit {
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #64a5ff;
}
.btn-edit:hover {
    background-color: #197dfe;
}
.btn-delete {
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #ff6464;
}
.btn-delete:hover {
    background-color: #ff0000;
}
.btn-img {
    width: 20px;
}

.btn-y {
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #50da3f;
    color: white;
}
.btn-y:hover {
    background-color: #5ae04e;
}
.btn-n {
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #d50071;
    color: white;
}
.btn-n:hover {
    background-color: #bf365d;
}
.btn-aac {
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #00959f;
    color: white;
    margin-top:  10px;
}
.btn-aac:hover {
    background-color: #00b6bc;
}

.btn-aac.active {
    background: #007bff;
    color: white;
    border-color: #007bff;
}

.span-err {
    color: red;
    margin-top: 10px;
}
