.app-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    background-color: rgba(224, 224, 224, 0.42);
    justify-content: center;
    padding: 10px;
}
.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.btn {
    background-color: #2f80f0;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.btn:hover {
    background-color: #006eff;
}
.inp {
    border: none ;
    border-bottom: 1px solid;
    padding: 10px;
}

.todos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.todo {
    display: flex;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}